@page "/home"
<div class="container mt-4 ms-2">
<h1 class="text-center text-info">Hello, in .NET MAUI Blazor Hybrid App!</h1>

Tato aplikace naslouchá fyzickému backendu na 'Heroku'.
<br />
<div class="card bg-body shadow-lg">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
        <h5 class="card-title text-bg-info"><span class="fa fa-calendar" style="font-size:48px"></span>Pracovní kalendář</h5>
        Vytvořil Jaromír Ihln 09/2025
        <br />
        Blazor aplikace:
        <a href="https://jaromirihln.github.io" target="_blank">jaromirihln.github.io</a>
        <br />
        Zdrojové kódy na GitHubu:<a href="https://github.com/JaromirIhln/Heroku-space" accesskey="$0" target="_blank">GitHub</a>
        <br />
        <a class="btn btn-success" href="/">Zpět</a>
            <a class="btn btn-success" href="https://work-days-app-663252075ceb.herokuapp.com/api/workday">Json data</a>
        </div>
    </div>
</div>