@page "/home"

<h1>Hello, in .NET MAUI Blazor Hybrid App!</h1>

Tato aplikace naslouchá fyzickému backendu na 'Heroku'.
<br />
Vytvořil Jaromír Ihln 09/2025
<a href="https://jaromirihln.github.io" target="_blank">jaromirihln.github.io</a>
<br />
Zdrojové kódy na GitHubu:<a href="https://github.com/JaromirIhln/Heroku-space" accesskey="$0" target="_blank">GitHub</a>
<br />
<a class="btn btn-success" href="/">Zpět</a>